@import "varsMobile.css";

@media only screen and (max-width : 577px) {
    * {
        font-size: var(--mobile-font-size);

        line-height: var(--mobile-line-height);
    }

    p {
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: var(--mobile-margin-left);
        margin-right: var(--mobile-margin-right);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);

        font-size: var(--mobile-font-size);
    }

    .container,
    .primary-container,
    .container.primary {
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: var(--mobile-margin-left);
        margin-right: var(--mobile-margin-right);

        border-width: var(--mobile-border-width);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    .secondary-container,
    .container.secondary {
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: var(--mobile-margin-left);
        margin-right: var(--mobile-margin-right);

        border-width: var(--mobile-border-width);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    /* TITLES & SUBTITLES */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;

        margin-top: var(--mobile-subtitle-margin-top);
        margin-bottom: var(--mobile-subtitle-margin-bottom);
        margin-left: var(--mobile-subtitle-margin-left);
        margin-right: var(--mobile-subtitle-margin-right);

        padding-top: var(--mobile-subtitle-padding-top);
        padding-bottom: var(--mobile-subtitle-padding-bottom);
        padding-left: var(--mobile-subtitle-padding-left);
        padding-right: var(--mobile-subtitle-padding-right);
    }

    h1 {
        margin-top: var(--mobile-title-margin-top);
        margin-bottom: var(--mobile-title-margin-bottom);
        margin-left: var(--mobile-title-margin-left);
        margin-right: var(--mobile-title-margin-right);


        padding-top: var(--mobile-title-padding-top);
        padding-bottom: var(--mobile-title-padding-bottom);
        padding-left: var(--mobile-title-padding-left);
        padding-right: var(--mobile-title-padding-right);

        font-family: var(--mobile-title-font-family);
        font-size: 20pt;

        text-align: center;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 17pt;
    }

    h4 {
        font-size: 15pt;
    }

    h5 {
        font-size: 13pt;
    }

    h6 {
        font-size: 10pt;
    }

    /* Text inputs*/
    input[type="text"],
    input[type="search"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    textarea {
        display: inline-block;

        margin-top: calc(var(--mobile-margin-top) * 2);
        margin-bottom: calc(var(--mobile-margin-bottom) * 2);
        margin-left: calc(var(--mobile-margin-left) * 2);
        margin-right: calc(var(--mobile-margin-right) * 2);

        border-radius: var(--mobile-border-radius);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);

        min-width: 100px;

        font-size: 10pt;
    }

    textarea {
        width: calc(100% - var(--mobile-padding-left) - var(--mobile-padding-right) - var(--mobile-margin-left) * 2 - var(--mobile-margin-right) * 2);
    }

    /* Select input */
    select {
        display: inline-block;

        margin-top: calc(var(--mobile-margin-top) * 2);
        margin-bottom: calc(var(--mobile-margin-bottom) * 2);
        margin-left: calc(var(--mobile-margin-left) * 2);
        margin-right: calc(var(--mobile-margin-right) * 2);

        border-radius: var(--mobile-border-radius);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);

        min-width: 100px;

        font-size: 8pt;
    }

    /* MISCELLANEOUS */
    hr {
        margin-top: calc(var(--mobile-margin-top) * 2);
        margin-bottom: calc(var(--mobile-margin-bottom) * 2);
        margin-left: calc(var(--mobile-margin-left) * 2);
        margin-right: calc(var(--mobile-margin-right) * 2);

        border-bottom-width: var(--mobile-border-width);

    }

    /* TAGS */
    .tag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        row-gap: calc(var(--mobile-margin-top) / 2);
        column-gap: calc(var(--mobile-margin-left) / 2);
    }

    .tag {
        display: inline-block;
        flex-basis: calc(50% - var(--mobile-margin-left) - var(--mobile-margin-right) - var(--mobile-margin-right) / 2);

        border-radius: var(--mobile-border-radius);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    /* SIMPLE RECIPE */
    .recipe-container {
        display: block;
    }

    .recipe-container .recipe {
        display: flex;
        flex-direction: row;
        overflow: hidden;

        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: var(--mobile-margin-left);
        margin-right: var(--mobile-margin-right);

        border-width: var(--mobile-border-width);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    .recipe-container .recipe .recipe-left,
    .recipe-container .recipe .recipe-right {
        display: block;
    }

    .recipe-container .recipe .recipe-left {
        flex: 4;
    }

    .recipe-container .recipe .recipe-left img {
        width: 100%;
    }

    .recipe-container .recipe .recipe-right {
        flex: 6;
    }

    .recipe-container .recipe h3 {
        font-size: 15pt;
        font-family: var(--mobile-title-font-family);
    }

    .recipe-container .recipe h4 {
        font-size: 13pt;
        font-family: var(--mobile-subtitle-font-family);
    }

    /* RECIPE INFO */
    .recipe-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .recipe-info-container .recipe-info {
        display: flex;
        overflow: hidden;

        width: var(--mobile-recipe-info-width);
        height: var(--mobile-recipe-info-height);

        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: var(--mobile-margin-left);
        margin-right: var(--mobile-margin-right);

        border-width: var(--mobile-border-width);

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    .recipe-info-left,
    .recipe-info-right {
        display: block;
        align-items: stretch;
    }

    .recipe-info-left {
        flex: 4;

        padding-top: var(--mobile-padding-top);
        padding-bottom: var(--mobile-padding-bottom);
        padding-left: var(--mobile-padding-left);
        padding-right: var(--mobile-padding-right);
    }

    .recipe-info-right {
        flex: 6;
    }

    .recipe-info-container .recipe-info img.recipe-info-image {
        width: 100%;
    }

    /* RECIPE DETAILS */
    .recipe-details-container div.publication-info,
    .comment-container div.publication-info {
        text-align: right;
    }

    .recipe-details-container img.recipe-image {
        display: block;
        width: 100%;
        height: auto;
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: auto;
        margin-right: auto;
    }

    .recipe-details-container div.tag-container span.tag {
        flex-basis: calc(25% - var(--mobile-margin-left) - var(--mobile-margin-right) - var(--mobile-margin-right) / 2);
    }

    .recipe-info-container .recipe-info h3 {
        font-size: 15pt;
        font-family: var(--mobile-title-font-family);
    }

    .recipe-info-container .recipe-info h4 {
        font-size: 11pt;
        font-family: var(--mobile-subtitle-font-family);
    }
}

/* COMMENTS */