:root {
    /* GENERAL */
    --primary-color: #7890cd;
    --primary-background-color: #fff;

    --font-family: "Open Sans";
    --font-size: 12pt;

    --line-height: 1.15;

    --margin-top: 5px;
    --margin-bottom: 5px;
    --margin-left: 5px;
    --margin-right: 5px;

    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;

    --secondary-color: #fff;
    --secondary-background-color: #2a3990;

    --tertiary-color: #999;

    /* MAIN */
    --main-margin-top: 0;
    --main-margin-bottom: 0;
    --main-margin-left: 0;
    --main-margin-right: 0;

    --main-padding-top: 10px;
    --main-padding-bottom: 10px;
    --main-padding-left: 10px;
    --main-padding-right: 10px;

    /* BODY */
    --body-margin-top: 0;
    --body-margin-bottom: var(--body-margin-top);
    --body-margin-left: 0;
    --body-margin-right: var(--body-margin-left);

    --body-padding-top: 20px;
    --body-padding-bottom: var(--body-padding-top);
    --body-padding-left: 20px;
    --body-padding-right: var(--body-padding-left);

    /* HEADER */
    --header-color: var(--secondary-color);
    --header-background-color: var(--primary-color);

    --header-margin-top: 0;
    --header-margin-bottom: 0;
    --header-margin-left: 0;
    --header-margin-right: 0;

    --header-padding-top: 5px;
    --header-padding-bottom: 5px;
    --header-padding-left: 5px;
    --header-padding-right: 5px;

    /* FOOTER */
    --footer-color: var(--secondary-color);
    --footer-background-color: var(--secondary-background-color);

    --footer-margin-top: 0;
    --footer-margin-bottom: var(--footer-margin-top);
    --footer-margin-left: 0;
    --footer-margin-right: var(--footer-margin-left);

    --footer-padding-top: 40px;
    --footer-padding-bottom: var(--footer-padding-top);
    --footer-padding-left: 20px;
    --footer-padding-right: var(--footer-padding-left);

    /* HEADINGS */
    --title-font-family: "Permanent Marker";

    --title-padding-top: 2.5px;
    --title-padding-bottom: 2.5px;
    --title-padding-left: 2.5px;
    --title-padding-right: 2.5px;

    --title-margin-top: 2.5px;
    --title-margin-bottom: 2.5px;
    --title-margin-left: 2.5px;
    --title-margin-right: 2.5px;

    --subtitle-font-family: "Pacifico";

    --subtitle-padding-top: 2.5px;
    --subtitle-padding-bottom: 2.5px;
    --subtitle-padding-left: 2.5px;
    --subtitle-padding-right: 2.5px;

    --subtitle-margin-top: 2.5px;
    --subtitle-margin-bottom: 2.5px;
    --subtitle-margin-left: 2.5px;
    --subtitle-margin-right: 2.5px;

    /* BORDERS */
    --border-width: 3px;
    --border-style: solid;
    --border-color: var(--primary-color);

    --border-top-width: var(--border-width);
    --border-top-style: var(--border-style);
    --border-top-color: var(--border-color);

    --border-bottom-width: var(--border-width);
    --border-bottom-style: var(--border-style);
    --border-bottom-color: var(--border-color);

    --border-left-width: var(--border-width);
    --border-left-style: var(--border-style);
    --border-left-color: var(--border-color);

    --border-right-width: var(--border-width);
    --border-right-style: var(--border-style);
    --border-right-color: var(--border-color);

    --border-radius: 5px;
    --border-top-left-radius: var(--border-radius);
    --border-top-right-radius: var(--border-radius);
    --border-bottom-left-radius: var(--border-radius);
    --border-top-right-radius: var(--border-radius);

    /* RECIPE DETAILS */
    --recipe-details-width: 400px;
    --recipe-details-height: 200px;
}
