:root {
    /* GENERAL */
    --primary-color: #7890cd;
    --primary-background-color: #fff;

    --font-family: "Open sans";
    --font-size: 12pt;

    --line-height: 1.15;

    --padding: 5px;
    --paddding-top: var(--padding);
    --paddding-bottom: var(--padding);
    --paddding-left: var(--padding);
    --paddding-right: var(--padding);

    --secondary-color: #fff;
    --secondary-background-color: #2a3990;

    /* MAIN */
    --main-padding-top: 5mm;
    --main-padding-bottom: 5mm;
    --main-padding-left: 5mm;
    --main-padding-right: 5mm;

    /* HEADER */
    --header-color: var(--secondary-color);
    --header-background-color: var(--primary-color);

    /* FOOTER */
    --footer-color: var(--secondary-color: #fff);
    --footer-background-color: var(--secondary-background-color);

    --footer-padding: 5px;
    --footer-paddding-top: var(--footer-padding);
    --footer-paddding-bottom: var(--footer-padding);
    --footer-paddding-left: var(--footer-padding);
    --footer-paddding-right: var(--footer-padding);

    --footer-margin: 0;
    --footer-margin-top: var(--footer-margin);
    --footer-margin-bottom: var(--footer-margin);
    --footer-margin-left: var(--footer-margin);
    --footer-margin-right: var(--footer-margin);

    /* HEADINGS */
    --title-font-family: "Permanent Marker";

    --title-padding: 5px;
    --title-padding-top: var(--title-padding);
    --title-padding-bottom: var(--title-padding);
    --title-padding-left: var(--title-padding);
    --title-padding-right: var(--title-padding);

    --title-margin: 5px;
    --title-margin-top: var(--title-margin);
    --title-margin-bottom: var(--title-margin);
    --title-margin-left: var(--title-margin);
    --title-margin-right: var(--title-margin);

    --subtitle-font-family: "Pacifico";

    --subtitle-padding: 5px;
    --subtitle-padding-top: var(--subtitle-padding);
    --subtitle-padding-bottom: var(--subtitle-padding);
    --subtitle-padding-left: var(--subtitle-padding);
    --subtitle-padding-right: var(--subtitle-padding);

    --subtitle-margin: 5px;
    --subtitle-margin-top: var(--subtitle-margin);
    --subtitle-margin-bottom: var(--subtitle-margin);
    --subtitle-margin-left: var(--subtitle-margin);
    --subtitle-margin-right: var(--subtitle-margin);

    /* BORDERS */
    --border-width: 3px;
    --border-style: solid;
    --border-color: var(--primary-color);

    --border-top-width: var(--border-width);
    --border-top-style: var(--border-style);
    --border-top-color: var(--border-color);

    --border-bottom-width: var(--border-width);
    --border-bottom-style: var(--border-style);
    --border-bottom-color: var(--border-color);

    --border-left-width: var(--border-width);
    --border-left-style: var(--border-style);
    --border-left-color: var(--border-color);

    --border-right-width: var(--border-width);
    --border-right-style: var(--border-style);
    --border-right-color: var(--border-color);

    --border-radius: 5px;
    --border-top-left-radius: var(--border-radius);
    --border-top-right-radius: var(--border-radius);
    --border-bottom-left-radius: var(--border-radius);
    --border-top-right-radius: var(--border-radius);

}
