@media only screen and (max-width : 577px) {
    body {
        margin-top: var(--mobile-body-margin-top);
        margin-bottom: var(--mobile-body-margin-bottom);
        margin-left: var(--mobile-body-margin-left);
        margin-right: var(--mobile-body-margin-right);

        padding-top: var(--mobile-body-padding-top);
        padding-bottom: var(--mobile-body-padding-bottom);
        padding-left: var(--mobile-body-padding-left);
        padding-right: var(--mobile-body-padding-right);

        font-family: var(--mobile-font-family);
    }

    header {
        margin-top: var(--mobile-header-margin-top);
        margin-bottom: var(--mobile-header-margin-bottom);
        margin-left: var(--mobile-header-margin-left);
        margin-right: var(--mobile-header-margin-right);

        padding-top: var(--mobile-header-padding-top);
        padding-bottom: var(--mobile-header-padding-bottom);
        padding-left: var(--mobile-header-padding-left);
        padding-right: var(--mobile-header-padding-right);
    }

    header nav {
        display: inline-block;
        position: relative;
    }

    header nav ul li {
        --mobile-link-width: 110px;
        --mobile-link-padding: 10px;
        display: inline-block;
    }

    header nav ul li a {
        display: inline-block;
        width: var(--mobile-link-width);
        padding: var(--mobile-link-padding);
    }

    header nav ul li ul {
        display: none;
        position: absolute;
    }

    header nav ul li ul li {
        display: block;
    }

    header nav ul li ul li:not(:last-child):after {
        content: "";
        display: block;
        position: relative;
        top: calc(var(--mobile-border-width) / 2);
        left: var(--mobile-link-padding);
        width: var(--mobile-link-width);
        height: var(--mobile-border-width);
    }

    header nav ul li ul li a {
        padding: 10px;
    }

    header nav ul li:hover ul {
        display: block;
    }

    main {
        margin-top: var(--mobile-main-margin-top);
        margin-bottom: calc(var(--mobile-margin-bottom) + var(--mobile-footer-padding-top) + var(--mobile-footer-padding-top));

        margin-left: auto;
        margin-right: auto;

        padding-top: var(--mobile-main-padding-top);
        padding-bottom: var(--mobile-main-padding-bottom);
        padding-left: var(--mobile-main-padding-left);
        padding-right: var(--mobile-main-padding-right);

        max-width: 1024px;
    }

    main div.main-container {
        display: block;
    }

    main div.main-container div.main-container-left,
    main div.main-container div.main-container-right {
        display: block;
        flex-basis: 100%;
    }

    main div.main-container div.main-container-right img.edito-image {
        display: block;
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: auto;
        margin-right: auto;

        border-radius: 75px;

        width: 150px;
        height: 150px;
    }

    main div.main-container div.main-container-right h1.edito-title {
        text-align: center;
    }

    main div.form-container {
        display: block;
        width: 75%;

        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: auto;
        margin-right: auto;
    }

    main div.form-container table {
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: auto;
        margin-right: auto;
    }


    main div.form-container table tbody tr td:first-child {
        text-align: right;
    }

    main div.form-container table tfoot td * {
        display: block;
        margin-top: var(--mobile-margin-top);
        margin-bottom: var(--mobile-margin-bottom);
        margin-left: auto;
        margin-right: auto;
    }


    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        margin-top: var(--mobile-footer-margin-top);
        margin-bottom: var(--mobile-footer-margin-bottom);
        margin-left: var(--mobile-footer-margin-left);
        margin-right: var(--mobile-footer-margin-right);

        padding-top: var(--mobile-footer-padding-top);
        padding-bottom: var(--mobile-footer-padding-bottom);
        padding-left: var(--mobile-footer-padding-left);
        padding-right: var(--mobile-footer-padding-right);
    }
}