@import "vars.css";

* {
    font-family: var(--font-family);
    font-size: var(--font-size);

    line-height: var(--line-height);
}

p {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);

    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--primary-color);
}

.container,
.primary-container,
.container.primary {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);

    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.secondary-container,
.container.secondary {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);

    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: transparent;
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

/* TITLES & SUBTITLES */
h1, h2, h3, h4, h5, h6 {
    display: block;

    margin-top: var(--subtitle-margin-top);
    margin-bottom: var(--subtitle-margin-bottom);
    margin-left: var(--subtitle-margin-left);
    margin-right: var(--subtitle-margin-right);

    padding-top: var(--subtitle-padding-top);
    padding-bottom: var(--subtitle-padding-bottom);
    padding-left: var(--subtitle-padding-left);
    padding-right: var(--subtitle-padding-right);

    font-family: var(--subtitle-font-family);
    color: var(--primary-color);
}

h1 {
    margin-top: var(--title-margin-top);
    margin-bottom: var(--title-margin-bottom);
    margin-left: var(--title-margin-left);
    margin-right: var(--title-margin-right);

    
    padding-top: var(--title-padding-top);
    padding-bottom: var(--title-padding-bottom);
    padding-left: var(--title-padding-left);
    padding-right: var(--title-padding-right);

    font-family: var(--title-font-family);
    font-size: 25pt;

    text-align: center;
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 20pt;
}

h5 {
    font-size: 18pt;
}

h6 {
    font-size: 15pt;
}

/* INPUTS */

button,
button.primary,
input[type="button"],
input[type="button"].primary,
input[type="submit"],
input[type="submit"].primary,
input[type="reset"],
input[type="reset"].primary,
input[type="color"],
input[type="color"].primary {
    display: inline-block;
    
    margin-top: calc(var(--margin-top) * 2);
    margin-bottom: calc(var(--margin-bottom) * 2);
    margin-left: calc(var(--margin-left) * 2);
    margin-right: calc(var(--margin-right) * 2);
    
    border: 1px var(--border-style) transparent;
    border-radius: var(--border-radius);
    
    padding-top: calc(var(--padding-top) * 2);
    padding-bottom: calc(var(--padding-bottom) * 2);
    padding-left: calc(var(--padding-left) * 2);
    padding-right: calc(var(--padding-right) * 2);

    min-width: 120px;

    background-color: var(--secondary-background-color);
    color: var(--secondary-color);

    font-family: var(--subtitle-font-family);

    box-shadow: var(--box-shadow-offset-x)
                var(--box-shadow-offset-y)
                var(--box-shadow-blur-radius)
                var(--box-shadow-color);

    cursor: pointer;
    user-select: none;
}

button:hover,
button.primary:hover,
input[type="button"]:hover,
input[type="button"].primary:hover,
input[type="submit"]:hover,
input[type="submit"].primary:hover,
input[type="reset"]:hover,
input[type="reset"].primary:hover,
input[type="color"]:hover,
input[type="color"].primary:hover {
    background-color: var(--secondary-hover-background-color);
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="color"]:active {
    position: relative;
    top: calc(var(--box-shadow-offset-x) / 2);
    left: calc(var(--box-shadow-offset-y) / 2);

    box-shadow: calc(var(--box-shadow-offset-x) / 2)
                calc(var(--box-shadow-offset-y) / 2)
                var(--box-shadow-blur-radius)
                var(--box-shadow-color);
}

button.secondary,
input[type="button"].secondary,
input[type="submit"].secondary,
input[type="reset"].secondary,
input[type="color"].secondary {
    border: 1px var(--border-style) var(--tertiary-color);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

button.secondary:hover,
input[type="button"].secondary:hover,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="color"].secondary:hover {
    background-color: var(--primary-hover-background-color);
}

/* Text inputs*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
textarea {
    display: inline-block;

    margin-top: calc(var(--margin-top) * 2);
    margin-bottom: calc(var(--margin-bottom) * 2);
    margin-left: calc(var(--margin-left) * 2);
    margin-right: calc(var(--margin-right) * 2);
    
    border: 1px var(--border-style) var(--tertiary-color);
    border-radius: var(--border-radius);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    min-width: 200px;

    background-color: var(--primary-background-color);
    cursor: text;
    font-size: 10pt;
    font-family: var(--font-family);

    outline: none;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
input[type="url"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
textarea::placeholder {
    font-style: italic;
}

textarea {
    width: calc(100% - var(--padding-left) - var(--padding-right) - var(--margin-left) * 2 - var(--margin-right) * 2);
}

/* Select input */
select {
    display: inline-block;

    margin-top: calc(var(--margin-top) * 2);
    margin-bottom: calc(var(--margin-bottom) * 2);
    margin-left: calc(var(--margin-left) * 2);
    margin-right: calc(var(--margin-right) * 2);
    
    border: 1px var(--border-style) var(--tertiary-color);
    border-radius: var(--border-radius);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    min-width: 200px;

    background-color: var(--primary-background-color);
    cursor: pointer;
    font-size: 10pt;
}

/* MISCELLANEOUS */
hr {
    margin-top: calc(var(--margin-top) * 2);
    margin-bottom: calc(var(--margin-bottom) * 2);
    margin-left: calc(var(--margin-left) * 2);
    margin-right: calc(var(--margin-right) * 2);

    border: none;
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
    border-bottom-color: var(--border-color);

}

/* TAGS */
.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: calc(var(--margin-top) / 2);
    column-gap: calc(var(--margin-left) / 2);
}

.tag {
    display: inline-block;
    flex-basis: calc(50% - var(--margin-left) - var(--margin-right) - var(--margin-right) / 2);

    border-radius: var(--border-radius);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    background-color: var(--primary-color);
    color: var(--secondary-color);

    font-family: var(--subtitle-font-family);
    text-decoration: none;

    user-select: none;
    cursor: default;
}

/* SIMPLE RECIPE */
.recipe-container {
    display: block;
}

.recipe-container .recipe {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.recipe-container .recipe .recipe-left,
.recipe-container .recipe .recipe-right {
    display: block;
}
.recipe-container .recipe .recipe-left {
    flex: 4;
}
.recipe-container .recipe .recipe-left img {
    width: 100%;
}

.recipe-container .recipe .recipe-right {
    flex: 6;
}

.recipe-container .recipe h3 {
    font-size: 15pt;
    font-family: var(--title-font-family);
}

.recipe-container .recipe h4 {
    font-size: 13pt;
    font-family: var(--subtitle-font-family);
}

/* RECIPE INFO */
.recipe-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-info-container .recipe-info {
    display: flex;
    overflow: hidden;

    width: var(--recipe-info-width);
    height: var(--recipe-info-height);

    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.recipe-info-left,
.recipe-info-right {
    display: block;
    align-items: stretch;
}

.recipe-info-left {
    flex: 4;

    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}
    
.recipe-info-right {
    flex: 6;
}

.recipe-info-container .recipe-info img.recipe-info-image {
    width: 100%;
}

/* RECIPE DETAILS */
.recipe-details-container div.publication-info,
.comment-container div.publication-info {
    text-align: right;
}

.recipe-details-container img.recipe-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-left: auto;
    margin-right: auto;
}
.recipe-details-container div.tag-container span.tag {
    flex-basis: calc(25% - var(--margin-left) - var(--margin-right) - var(--margin-right) / 2);
} 

.recipe-info-container .recipe-info h3 {
    font-size: 15pt;
    font-family: var(--title-font-family);
}

.recipe-info-container .recipe-info h4 {
    font-size: 13pt;
    font-family: var(--subtitle-font-family);
}

ul.ingredients li {
    list-style-type: circle;
    color: var(--primary-color);
    margin-left: 40px;
}

/* COMMENTS */
